*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;

}
.container{
    background-color: rgb(102, 61, 61);
    min-height: 50vh;
    width: 55vh;
    padding: 2rem;
    border-radius: 1rem;
    border:  2px solid red;
    color: #fff;
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.75rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select_container img{
    max-width: 2.5rem;
}
.select_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    /* background-color: red; */
    border-radius: 0.5rem;
    border:  solid lightgray;
    
}
.fa-solid{
    font-size: 1.5rem;
    /* align-items: center; */ 
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: brown;
    color: antiquewhite;
    cursor: pointer;
    font-size: 1rem;
}
form button:hover{
   background-color:#c5d727;
color:black;
font-size: 1.3rem;

}